# This is a basic workflow to help you get started with Actions

name: sync issues blog

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  issues:
    types: [opened, deleted]
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  iusses-sync:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Show the timezone
        run: |
          echo "The timezone is $TZ"
          date
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: sync blog
        uses: ZSCGR/blog-archive@main
        with:
          api-github-token: ${{ secrets.API_GITHUB_TOKEN }}
          repo: ${{ secrets.REPO }}
          owner: ${{ secrets.OWNER }}
          git-user-name: ZSCGR
          git-user-email: 932478692@qq.com
      
